---
import { uri } from "@script/utils";
import CardSocial from "./CardSocial.astro";
type Props = {
  img: string;
  tag: string;
  titles: string[];
  personal?: { href: string; name: string };
  socials?: { [key: string]: { href: string; icon: string } };
  direction?: 'left' | 'right'
};

const { img='', tag='', titles=[], personal, socials, direction='left' } = Astro.props;
---

<div class={`w-full p-4 flex items-center flex-col ${direction === 'left' ? "md:flex-row": "md:flex-row-reverse"}`}>
  <div class={`mb-4`}>
    <img
      class={`w-[25rem] rounded-md shadow-sm ${"ml-auto"}`}
      src={uri(img)}
      alt={`${tag} Profile Picture`}
    />
    {
      personal ? (
        <a
          href={personal.href}
          title={personal.name}
          target="_blank"
          class={`w-full hover:text-blue-300 flex justify-center`}
        >
          <em class="text-sm">{tag}</em>
        </a>
      ) : (
        <div class="w-fit mx-auto">
          <em class="text-sm">{tag}</em>
        </div>
      )
    }
    <div class="flex gap-2 justify-center mt-3">
      {(<strong class="text-sm text-center">{titles?.join(" & ")}</strong>)}
    </div>
  </div>
  <div class="flex flex-col justify-center items-center w-full p-8">
    <p class="indent-4">
        <slot />
    </p>
    {socials && <CardSocial links={socials} />}
  </div>
</div>
