---
import Layout from "@layout/Layout.astro";
import "@style/animations.css";

import { Carrousel, image } from "@solid/carrousel/carrousel";

import { getCollection } from "astro:content";
import { uri } from "@script/utils";

let blog_posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map(({ slug, collection, data: { title, heroImage } }) => {
    return image({
      href: uri(`${collection}/${slug}`),
      src: uri(heroImage ?? ""),
      label: title,
    });
  });

let project_posts = (await getCollection("project"))
  ?.sort(
    (a, b) =>
      (b.data.releaseDate?.valueOf() ?? 0) -
      (a.data.releaseDate?.valueOf() ?? 0)
  )
  .map(({ slug, collection, data: { title, heroImage } }) => {
    return image({
      href: uri(`${collection}/${slug}`),
      src: uri(heroImage ?? ""),
      label: title,
    });
  });
---

<Layout centered>
  <div class="relative overflow-hidden">
    <img
      class="rounded-full w-[30rem] mx-auto aspect-square opacity-5 anim-twinkle"
      width={1920}
      height={1080}
      src={uri("/images/Wavy_Dots.jpg")}
      alt=""
    />
    <img
      class="w-[15rem] absolute top-[25%] left-[30%] anim-floating"
      width={1440}
      height={720}
      src={uri("/images/casual-life-3d-cat-astronaut.png")}
      alt=""
    />
  </div>
  <div class="flex flex-col text-sm w-full items-center mt-4 text-slate-700/20">
    <span>
      Illustration by <a
        href="https://icons8.com/illustrations/author/zD2oqC8lLBBA"
        class="text-blue-300/30 underline">Icons 8</a
      > from <a
        href="https://icons8.com/illustrations"
        class="text-blue-300/30 underline">Ouch!</a
      ></span
    >
    <span
      ><a
        href="https://www.freepik.com/free-vector/black-wave-halftone-background_7647150.htm#query=random%20dots&position=1&from_view=keyword&track=ais"
        class="text-blue-300/30 underline">Image by alicia_mb</a
      > on Freepik</span
    >
  </div>

  <h2 class="text-4xl font-bold w-full mt-[5rem] mb-4">Projects</h2>
  <Carrousel content={project_posts} client:load>
    <div
      class="w-full h-full flex flex-col justify-center items-center border-2 border-dashed border-emerald-400/80 rounded-md"
    >
      <!-- This is displayed last and contain any content as long as it fits in
        the parent element, same as images and video -->
      <a href={uri("/project/")} class="w-fit h-fit p-4 text-center">
        <span class="font-bold text-2xl">+</span>
        <p class="font-bold text-xl">More projects</p>
      </a>
    </div>
  </Carrousel>

  <h2 class="text-4xl font-bold w-full mt-[5rem] mb-4">Blog Posts</h2>
  <Carrousel
    content={blog_posts}
    speed={5000}
    wrap
    client:load
    class="mb-[10rem]"
  >
    <div
      class="w-full h-full flex flex-col justify-center items-center border-2 border-dashed border-emerald-400/80 rounded-md"
    >
      <!-- This is displayed last and contain any content as long as it fits in
        the parent element, same as images and video -->
      <a href={uri("/blog/")} class="w-fit h-fit p-4 text-center">
        <span class="font-bold text-2xl">+</span>
        <p class="font-bold text-xl">More blog posts</p>
      </a>
    </div>
  </Carrousel>
</Layout>
